name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm install
      - run: |
          npm run all
  test-basic: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          uri: 'https://github.com/google/go-containerregistry/releases/download/v0.19.1/go-containerregistry_Linux_x86_64.tar.gz'
          name: 'crane'
          version: '0.19.1'
      - run: |
          which crane
      - run: |
          ls -al /opt/hostedtoolcache/crane/0.19.1/x64
          CHMOD=$(stat -c 'a' /opt/hostedtoolcache/crane/0.19.1/x64/crane)
          echo $CHMOD
          if [ "$CHMOD" != "0755" ]; then exit 1; fi
      - run: |
          crane version
