name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test-basic: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          uri: 'https://github.com/docker/compose/releases/download/1.27.4/docker-compose-Linux-x86_64'
          name: 'docker-compose'
          version: '1.27.4'
      - run: |
          which docker-compose
          docker-compose version
  test-cmd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          uri: 'https://awscli.amazonaws.com/awscli-exe-linux-x86_64-2.0.30.zip'
          name: 'aws'
          version: '2.0.30'
          command: sudo ./aws/install
      - run: |
          aws --version
