name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm install
      - run: |
          npm run all
  test-basic: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          uri: 'https://github.com/mikefarah/yq/releases/download/v4.43.1/yq_linux_amd64.tar.gz'
          name: 'yq'
          version: '4.43.1'
      - run: |
          which yq
      - run: |
          ls -al /opt/hostedtoolcache/yq/4.43.1/x64
          CHMOD=$(stat -c '%a' /opt/hostedtoolcache/yq/4.43.1/x64/yq.1)
          echo $CHMOD
          if [ "$CHMOD" != "0755" ]; then exit 1; fi
      - run: |
          yq --version
